

*-project
*-workspace

*/*/*-project
*/*/*-workspace

*.png
*.csv

notebook
notebook_gradient.ipynb

*.csv
*/*/*.sublime-*
*.pyc
*.profile

*.egg-info
.cache
*__pycache__

.ipynb_checkpoints

tags
.tags
.tags1

.coverage
build/
dist/


data/*


.nfs*
*.dat
*starting_kit.html
*~
run.sh

paper
